<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/EMSI_SP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8Mm_1VoaSIVMPUvvEyvSEBbXHbh4Xjqk" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activité principale (Connexion) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ Ajout de l'activité d'inscription -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".RattrapageActivity" />
        <activity android:name=".AbsencesActivity" />
        <activity android:name=".HistoriqueActivity" />
        <activity android:name=".PlanningActivity" />
        <activity android:name=".DocumentsActivity" />
        <activity android:name=".ReclamationsActivity" />
        <activity android:name=".GeminiChatActivity" />
        <activity android:name=".ModifierProfilActivity" />
        <activity android:name=".AjouterAbsenceActivity" />
        <activity android:name=".ListeAbsencesActivity" />
        <activity android:name=".GuideProfActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".AjouterDocumentActivity" />














    </application>

</manifest>
